@charset "UTF-8";



@media (min-width: 1200px) {
	
.dots  {
	top: 90%;
}




.fondoconoce1 {
	background-image: url('images/fondoresfull1200.jpg');
	background-size: cover;
	background-position: center center;	
	position: relative;
}

/*CONOCENOS*/

.conocecontent {
	padding: 15vw 50px;
	margin-left: 5vw;
}

.section-mundi {
	padding: 5vw 0;
	margin-right: 5vw;
}

.mundi-text {
	width: 290px;
}

.mundi {
	width: 500px;
}

.grid-nuestrostes {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	grid-gap: 40px;
	padding: 0 50px 0 50px;
}


.descripcion-te {
	padding: 15px 30px 20px 0;
}



.fondocatalogo {
	background-image: url('images/portada-catalogo-1200.jpg');
	background-size: cover;
	height: 700px;
	text-align: center;
}

.fotos-tes {
	background-size: cover;
	height: 240px;
	width: 100%;
}

.catalogo-content {
	padding: 250px 0 0 0;
}

.catalogoicon {
	height: 120px;
	transition: height 1s;
}

.catalogoicon:hover {
	height: 130px;
	transition: height 1s;
}


/*DONDE ESTAMOS*/

.maptiendacontent {
	background-image: url('images/maptiendas1200.png');
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
}

.contactate p {
font-size: 1.5em;
}

.contactate a {
font-size: 1.5em;
}

.contacto-info {
	position: relative;
	width: 500px;
	display: inline-block;
	text-align: center;
}

.mail-icon-item {
	position: absolute;
	left: 35%;
}

.contacto-item-mail {
	margin-top: 90px;
}


.mail-icon {
	width: 130px;
	transition: 1s;
}

.mail-icon:hover {
	width: 140px;
}

}
